/* fontes de links */
@import url(http://fonts.googleapis.com/css?family=Exo+2|Varela+Round);
/*
 *  font-family: 'Exo 2', sans-serif;
	font-family: 'Varela Round', sans-serif;
 */

/* icones fontes */
@font-face {
	font-family: 'casa-amiga';
	src:url('fonts/casa-amiga.eot?v9tjfv');
	src:url('fonts/casa-amiga.eot?#iefixv9tjfv') format('embedded-opentype'),
		url('fonts/casa-amiga.woff?v9tjfv') format('woff'),
		url('fonts/casa-amiga.ttf?v9tjfv') format('truetype'),
		url('fonts/casa-amiga.svg?v9tjfv#casa-amiga') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before{
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: baseline;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.4em;
	font-family: 'casa-amiga';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}

.icon-home:before {
	font-family: 'casa-amiga';
	content: "\c600";
}
.icon-casa:before {
	content: "\c601";
}
.icon-apartamento:before {
	content: "\c602";
}
.icon-lancamento:before {
	content: "\c603";
}
.icon-image:before {
	content: "\c604";
}
.icon-preco:before {
	content: "\c605";
}
.icon-localizacao:before {
	content: "\c606";
}
.icon-agendar:before {
	content: "\c607";
}
.icon-chat:before {
	content: "\c608";
}
.icon-corretor:before {
	content: "\c609";
}
.icon-chave:before {
	content: "\c60a";
}
.icon-facebook:before {
	content: "\c60b";
}

/* Global */
body{
	margin:0;
	padding:0;
	background-size: cover;
}

img{ max-width: 100% }

header{
	width: 100%;
	padding: 20px 0;
	background: url(../img/capa.jpg)no-repeat fixed top center;
}

header > .header-fit{
	width: 100%;
	display: inline-block;
	background-color: #fff;
	margin: 0 0 7%;
}

header > .header-fit .header-content{
	width: 67.5%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

header > .header-fit .header-content h1{
	width: 20%;
	display: inline-block;
	float: left;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.8em;
	line-height: 0.8em;
	letter-spacing: -0.05em;
}

header > .header-fit .header-content h1 p{
	font-size: 0.7em;
	margin:0;
}

header > .header-fit .header-content nav{
	margin: 12% 0 0 0;
	display: inline-block;
	float: right;
	background: rgba(40,44,42,0.05);
}

header > .header-fit .header-content nav ul{
	border: 4px solid transparent;
	overflow: hidden;
}

header > .header-fit .header-content nav ul li{
	float: left;
	overflow: hidden;
	display: block;
}

header > .header-fit .header-content nav ul li a{
	position: relative;
	display: block;
	margin: 0 0.3em 0 0;
	padding: 0 0.3em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	background-color: #fff;
}

header > .header-fit .header-content nav ul li a:hover{
	color: #07C95C;
	background-color: #AFFF89;
}

header > .header-fit .header-content nav ul li a span{
	font-family: 'Exo 2', sans-serif;
	font-weight: normal;
	font-size: 1.2em;
}

header > .content-busca{
	width: 67.5%;
	padding: 10px;
	background-color: rgba(210, 246, 255, 0.26);
	margin: 0 auto 6%;
	display: block;
}
header > .content-busca .busca-fit{
	width: 100%;
	/* background-color: white; */
	position: relative;
	display: inline-block;
}

header > .content-busca .busca-fit select{
	padding: 2%;
	margin: 19px 3% 23px;
	border-radius: 11px;
	box-shadow: 2px 2px 5px;
	
	width: 20%;
}

section{
	width:67.5%;
	margin: 0px auto;
	background-color: rgb(239, 237, 241);
}

.wrapper{
	position: relative;
	max-width: 840px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
	display: block;
}

.wrapper > .content-viewPlus{
	width: 100%;
	margin: 0 0.2em;
	padding: 0.8em;
	display: inline-flex;
}

.wrapper > .content-viewPlus .content-links{
	width: 50%;
	height: 100%;
	float: left;
	margin: 0 0.5em 0 0;
	padding: 0;
	border: 0;
}

.wrapper > .content-viewPlus .content-links ul{
	border: 4px solid transparent;
	overflow: hidden;
}

.wrapper > .content-viewPlus .content-links ul li{
	border-right: 1px solid ;
	display: block;
	overflow: hidden;
	width: 80%;
}

.wrapper > .content-viewPlus .content-links ul li a{
	position: relative;
	display: block;
	margin: 0 0.3em 0 0;
	padding: 0 0.3em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	background-color: #fff;
	border-bottom:1px solid 
}

.wrapper > .content-viewPlus .content-links ul li a:hover{
	color: #07C95C;
	background-color: #AFFF89;
}

.wrapper > .content-viewPlus .content-links ul li a span{
	font-family: 'Exo 2', sans-serif;
	font-weight: normal;
	font-size: 1.39em;
}

.wrapper > .content-viewPlus .content-img{
	width: 50%;
	height: 100%;
	float: right;
	margin: 0 0 0 0.5em;
	padding: 0;
	border: 0;
	line-height: 0;
} 

.wrapper > .content-viewPlus .content-img img{
	width: 50%;
	height: 20%;
	float: left;
	padding: 0 0.2em 0.2em 0;
}

footer{
	background-image: url('../img/capa.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -75px;
	background-attachment: fixed;
}

footer > .footer-fit{
	width: 67.5%;
	margin: auto;
	overflow: hidden;
	display: block;
	padding: 45px 0;
	line-height: 70px;
}

footer > .footer-fit-ul{
	width: 100%;
	height: 100%;
	margin: auto;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	vertical-align: bottom;
}

footer > .footer-fit ul{
	display: inline-block;
	overflow: hidden;
	padding: 0 70px;
	background-color: rgba(0,0,0,0.6);
}

footer > .footer-fit .newslleter{
margin: auto;
text-align: center;
display: block;
overflow: hidden;
}
